
/********** Custom CSS ************/
h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 11;
}

.nav-bar::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
  padding: 27px 8px;
  color: #212121;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #7AB730;
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 15px;
  }
}

@media (min-width: 992px) {
  #header-carousel,
  .page-header {
    margin-top: -42px;
  }
}

.about-text {
    position: relative;
    width: auto;
    box-shadow: 2px 2px 9px grey;
}
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h4 {
    font-size: 18px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .booking {
    position: relative;
    margin-top: -60px !important;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .about-text {
    margin-left: -120px;
  }
}
@media (max-width: 600px){
.about-text {
    margin-left: 0px;
}
}
/* .page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/carousel-2.jpg), no-repeat center center;
  background-size: cover;
} */

.destination-item img {
  transition: .5s;
}

.destination-item:hover img {
  transform: scale(1.3);
}

.destination-overlay {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: .5s;
  z-index: 1;
}

.destination-item:hover .destination-overlay {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-width: 30px;
}

.service-item {
  transition: .5s;
}

.service-item:hover {
  box-shadow: 0 0 30px #CCCCCC;
}

.service-item i {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #7AB730;
  background: #FFFFFF;
  color: #7AB730;
  transition: .5s;
}

.service-item:hover i {
  background: #7AB730;
  color: #FFFFFF;
}

.package-item {
  transition: .5s;
}

.package-item:hover {
  box-shadow: 0 0 30px #CCCCCC;
}

/* .bg-registration {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/carousel-1.jpg), no-repeat center center;
  background-size: cover;
} */

.team-item {
  transition: .5s;
}

.team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.team-social a.btn {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  opacity: 0;
}

.team-item:hover {
  box-shadow: 0 0 30px #CCCCCC;
}

.team-item:hover .team-social {
  background: rgba(0, 0, 0, 0.5);
}

.team-item:hover .team-social a.btn:first-child {
  opacity: 1;
  margin-top: 0;
  transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .15s;
}

.team-item .team-img img {
  transition: .5s;
}

.team-item:hover .team-img img {
  transform: scale(1.2);
}

.testimonial-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background: #DDDDDD;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  width: 40px;
  background: #7AB730;
}

.testimonial-carousel .owl-item.center .testimonial-text {
  box-shadow: 0 0 30px #CCCCCC;
}

.blog-item {
  transition: .5s;
}

.blog-item:hover {
  box-shadow: 0 0 30px #CCCCCC;
}

.blog-date {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 30px;
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #7AB730;
}

.blog-date::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -15px;
  left: 0;
  border: 8px solid;
  border-color: transparent #5f8f25 #5f8f25 transparent;
  z-index: -1;
}

.contact-form .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button.btn.btn-warning.signOut {
  width: 90px;
  height: 40px;
  margin-top: 20px;
} 
svg.deleteBtn {
  color: black;
  height: 2rem;
  width: 2rem;
  color: white;
  background: red;
  border-radius: 59%;
  cursor: pointer;
}
.table-img {
  height: 4rem;
  width: 5rem;
}
.position-relative{
  position: relative !important
}
.bordered {
  border: 1px solid gray;
  padding: 5rem;
  margin: 50px 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
}


.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  transform: none;
}

.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: min-content;
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}

.modal-footer > * {
  margin: 0.25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: min-content;
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

span.h1.text-danger.cursor-pointer.p-2 {
  background: beige;
  cursor: pointer;
  margin: 5px 4px;
  border-radius: 15px;
}
svg.h1.my-4 {
  background: antiquewhite;
  cursor: pointer;
}
span.h1.text-danger.cursor-pointer.p-2:hover{
  background: rgb(219, 219, 126);
 
}
svg.h1.my-4:hover {
  background: rgb(172, 150, 123);
  cursor: pointer;
  border-radius: 15px;
}
.navbar-nav.ms-auto.py-0 {
  padding: 50px;
}
.footer-link{
  font-size: 1.25em;
  font-weight: 400;

}
.footer-link:hover{
  color: #5f8f25;
}
@media (min-width: 600px){
  .choose {
    margin-top: 14rem;
}

}
@media only screen and (max-width: 610px){
.bordered {
    width: 28rem !important;
    /* max-width: 57rem; */
}
}